/*--- CSS Reset ---*/

header,
nav,
section,
article,
aside,
footer {
  display: block
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(204, 20, 23,0.2); 
    /*-webkit-border-radius: 10px;
    border-radius: 10px;*/
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(204, 20, 23); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(204, 20, 23,0.4); 
}

/*@import url("fonts/stylesheet.css");*/
@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-Medium.eot');
    src: local('fonts/SF Pro Display Medium'), local('fonts/SFProDisplay-Medium'),
        url('fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/SFProDisplay-Medium.woff2') format('woff2'),
        url('fonts/SFProDisplay-Medium.woff') format('woff'),
        url('fonts/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/*--- CSS Main ---*/
html {
scroll-behavior: smooth;
}
body{
	font-family: 'SF Pro Display';
	font-style: normal;
	font-size: 14px;
	line-height: 130%;
	letter-spacing: 0.05em;
	overflow-x:hidden;
}
.red {
	color: #CC1417;
}
section {
	width:100%;
	/*height: 100vh;*/
	padding: 10% 0;
}
section .title{
	margin: 0 0 60px;
}
section .title h2{
	font-size: 36px;
	text-transform: uppercase;
}
.btn, .form-control {
border-radius: 0 !important;
}
.btn:hover {
    text-decoration:none;
}
.btn a {
    color: #fff;
}
.btn a:hover {
    text-decoration:none;
}

/*--- CSS Header ---*/
.burger{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 159px;
	top: 45px;
	background:url(../images/burger.png);
	background-size:cover;
}
.bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.contacts {
	text-align:right;
}

/*--- CSS header-section ---*/
.header-section {
position: absolute;
    padding: 0;
   
}

.header-section  .contacts {
	font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

/*--- CSS first-section ---*/
.first-section{
	background: url(../images/main-bg.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	padding: 16% 0;
}
.first-section h1{
	font-weight: 500;
	font-size: 60px;
	text-transform: uppercase;
	color: #191717;
}
.first-section p{
	font-weight: 300;
	font-size: 30px;
	line-height: 130%;
	color: #000000;
}
.first-section button {
	width: 210px;
	height: 54px;
	background: #191717;
	font-weight: normal;
	font-size: 20px;
	color: #FFFFFF;
}
.first-section button:hover a{
	color: #000;
}
.first-section button.btn:hover {
    background: none;
    border: 1px solid #191717;
    box-sizing: border-box;
}
@media  (max-width: 767px) { 
	.first-section {
	background: url(../images/main-bg-xs.jpg) no-repeat center center;
	    padding: 80% 0 16%;
	}
	.first-section h1 {
    font-size: 36px;
	}
	.first-section p {
		margin: 20px 0;
    font-size: 18px;
	}
	.first-section button {
    margin: 20px auto;
    display: flex;
 }
 .col-md-2.justify-content-center.d-inline-flex.align-items-center.hidden-md-up {
    padding: 20px 0;
	}
 .col-md-2.justify-content-center.d-inline-flex.align-items-center.hidden-md-up a{
    padding: 0 10px;
	}
}

/*--- CSS second-section ---*/
.second-section {
    background: linear-gradient(90deg, rgba(25,23,23,.9) 0%, rgba(25,23,23,.9) 49%, rgba(255,255,255,1) 49%);
}
.second-section .title h2 {
	color:#FFFFFF;
}
.second-section .nav-pills a.nav-link {
	background: none;
	font-size: 24px;
}
a.nav-link {
	color: #fff;
	background: none;
	font-size: 24px;
	line-height: 130%;
}
a.nav-link.active{
	color: #CC1417 !important;
	background: none !important;
}
.second-section h3 {
	font-size: 18px;
	text-decoration-line: underline;
	color: #000;
}
.second-section .tab-content p {
    display: block;
    color: #000;
}
.carousel-inner .carousel-item.active,.carousel-inner .carousel-item-next,.carousel-inner .carousel-item-prev{display:flex}
.carousel-inner .carousel-item-right.active,.carousel-inner .carousel-item-next{transform:translateX(25%)}
.carousel-inner .carousel-item-left.active,.carousel-inner .carousel-item-prev{transform:translateX(-25%)}
.carousel-inner .carousel-item-right,.carousel-inner .carousel-item-left{transform:translateX(0)}
.carousel-indicators li {
    max-width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #212529;
 }
.benefits-item-white {
	color:#fff;
}.benefits-item-red {
	color:#CC1417;
}
.second-section .btn{
	background: #191717;
	color:#fff;
	padding:14px 20px;
}
.second-section button.btn:hover {
    background: none;
    border: 1px solid #191717;
	box-sizing: border-box;
}
.second-section button.btn:hover A{
  	color: #000;
}
p.b-text {
    padding: 10px 10px 10px 0;
}
@media  (max-width: 767px) { 
	.second-section {
	    background: rgba(25,23,23,.9);
	}
	section .title {
    width: 100%;
	}
	.second-section .title h2 {
    color: #FFFFFF;
    font-size: 24px;
	}
	.second-section .nav-pills {
    flex-direction: row!important;
	}
	.second-section .nav-pills a.nav-link {
    font-size: 14px;
	}
	.second-section h3 {
		color: #fff;
	}
	#v-pills-tabContent {
    margin: 30px 0;
	}
	.second-section .tab-content p {
	    color: #fff;
	}
	.second-section .hidden-md-up .btn{
    margin: 0 auto;
    background: #fff;
    color: #191717;
	}
	.second-section .nav-link {
    padding: .5em .4em;
	}
	.second-section .nav-pills a.nav-link {
    font-size: 0.9em;
	}
	.carousel-inner {
    width: 65%;
    margin: 0 auto;
  }
}


/*--- CSS third-section ---*/
.news-item>div {
	margin:10px 0;
}
.news-item-date {
	font-size: 14px;
	opacity: 0.6;
}
.news-item-title {
	font-size: 18px;
}
.news-more {
	font-size: 18px;
	text-decoration-line: underline;
	opacity: 0.5;
	text-transform:uppercase;
	text-align:center;
}
.news-more a {
	color:#191717;
}

@media only screen and (max-width: 768px) {
.news-item-date, .news-item-title {
	color: #000;
}
}


/* Barands carousel */

  

/*--- CSS second-section ---*/
.four-section {
	background: url(../images/section-4-bg.jpg) no-repeat center center;
	background-size: cover;
	padding: 10% 0 20%;
	margin-bottom: -170px;
}
.four-section-title {
	font-size: 60px;
	line-height: 130%;
	text-transform: uppercase;
	color: #000000;
	padding-bottom:20px;
}
.four-section-text{
	font-size: 24px;
	line-height: 130%;
	text-transform: uppercase;
	color: #CC1417;
}
.four-section .btn {
	width: 210px;
	height: 54px;
	background: #191717;
	font-weight: normal;
	font-size: 20px;
	color: #FFFFFF;
}
.four-section .btn:hover {
    background: none;
    border: 1px solid #191717;
    box-sizing: border-box;
	color:#000;
}
.form-check {
    margin-bottom: 1rem;
}
@media only screen and (max-width: 768px) {
	.four-section {
    padding: 10% 0 65%;
    margin-bottom: -228px;
	}
	.four-section-title {
		font-size:24px;
	}
	.four-section-text{
		font-size:14px;
	}
}


/*--- CSS footer ---*/
footer {
    background: rgba(255,255,255,0.8);
}
footer .contacts {
	font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
@media only screen and (max-width: 768px) {
	footer {
	    background: rgba(255,255,255,0.2);
	}
	footer .footer-logo {
	    text-align: center;
	    margin:0 0 10px;
	    padding:10px 0;
	}
	footer  .footer-soc {
	    margin:0 0 10px;
	    padding:10px 0;
	}
	footer  .footer-soc a{
		padding: 0 10px;
	}
}


/*--- CSS burger ---*/
.main-nav {
    margin-top: -26px;
}
.form-control {
    padding: 1.5rem 1.75rem;
    font-size: 24px;
    color: #191717;
    background-color: rgba(255,255,255,.8);
 }
 #menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

#menuToggle .spanbg{
		position: absolute;
    background-color: #fff;
    width: 50px;
    height: 50px;
    padding: 15px 10px;
    border-radius: 100%;
    margin: -15px -10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25), -4px -4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #c9302c;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(3px, -3px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(2px, 4px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 49%;
	height: calc(100vh + 4vh);
  margin: -100px 0 0 -50px;
  padding: 50px 50px 50px 25%;
  padding-top: 125px;
  
  background: #191717;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
  #menuToggle #menu img{
  	width: 100%;
	}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

@media  (max-width: 767px) { 
	#menu {
    z-index: 9;
    width: auto;
  }
  #menuToggle .spanbg {
    z-index: 99;
	}
	#menuToggle span {
    z-index: 100;
  }
  #menuToggle input {
    z-index: 101;
  }
}
@media only screen and (max-width: 768px) {
	.mob-first {
		order: 2;
	}
	.mob-second {
		order: 1;
	}
}